dataclasses>=0.6
fire>=0.2.1
immutabledict>=1.2.0
intelhex>=2.2.1
protobuf>=3.17.3
psutil>=5.0.1
pylibftdi>=0.19.0
pylink-square>=0.3.0
pyserial>=3.5
pyudev==0.21.0
requests>=2.25.0
typing_extensions>=3.7
urllib3>=1.26.3
websocket-client>=0.56.0
xmodem>=0.4.5
